# Assignment: Pandas practice

In [19]:
import pandas as pd
import numpy as np

## import data

### cars csv:
### https://github.com/stiles/usc/blob/main/data/cars/vehicle-count.csv

In [20]:
url = 'https://raw.githubusercontent.com/stiles/usc/main/data/cars/vehicle-count.csv'

In [21]:
cars = pd.read_csv(url)

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [22]:
cars

            date    zip model_year      fuel   make   duty  vehicles
0       1/1/2020  90001       2007  Gasoline  ACURA  Light        15
1       1/1/2020  90002       2007  Gasoline  ACURA  Light        20
2       1/1/2020  90003       2007  Gasoline  ACURA  Light        29
3       1/1/2020  90004       2007  Gasoline  ACURA  Light        19
4       1/1/2020  90006       2007  Gasoline  ACURA  Light        15
...          ...    ...        ...       ...    ...    ...       ...
515757  1/1/2020    OOS        Unk  Gasoline    Unk  Heavy        98
515758  1/1/2020  90012        Unk  Gasoline    Unk  Light        12
515759  1/1/2020  93065        Unk  Gasoline    Unk  Light        11
515760  1/1/2020  95762        Unk  Gasoline    Unk  Light        12
515761  1/1/2020    OOS        Unk  Gasoline    Unk  Light        52

[515762 rows x 7 columns]

In [23]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515762 entries, 0 to 515761
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   date        515762 non-null  object
 1   zip         515762 non-null  object
 2   model_year  515762 non-null  object
 3   fuel        515762 non-null  object
 4   make        515762 non-null  object
 5   duty        515762 non-null  object
 6   vehicles    515762 non-null  int64
dtypes: int64(1), object(6)
memory usage: 27.5+ MB

In [25]:
cars['zip']

0         90001
1         90002
2         90003
3         90004
4         90006
          ...
515757      OOS
515758    90012
515759    93065
515760    95762
515761      OOS
Name: zip, Length: 515762, dtype: object

In [26]:
cars['fuel']

0         Gasoline
1         Gasoline
2         Gasoline
3         Gasoline
4         Gasoline
            ...
515757    Gasoline
515758    Gasoline
515759    Gasoline
515760    Gasoline
515761    Gasoline
Name: fuel, Length: 515762, dtype: object